/* =============== ABOUT US ========== */
.about_milestone {
    margin-top: 3rem;
}

.about__milestone-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about_milestone-right > p {
    margin: 1.6rem 0 2.5rem;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.about__icon {
    background: var(--color-danger);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.about__card:nth-child(2) .about__icon {
    background: var(--color-success);
}

.about__card:nth-child(3) .about__icon {
    background: var(--color-primary);
}

.about__card p {
    margin-top: 1rem;
}

/* =============== ABOUT US ========== */
.team {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.team__member {
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team__member:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.team__member-image img {
    filter: saturate(0);
}

.team__member-image:hover img {
    filter: saturate(1);
}

.team__info *{
    text-align: center;
    margin-top: 1.4rem;
}

.team__info p {
    color: var(--color-light);
}

.team__member-socials {
    position: absolute;
    top: 20%;
    transform: translateY(-50);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
}

.team__member-socials a {
    padding: 1rem;
}

.team__member:hover .team__member-socials {
    right: 0;
    transition: var(--transition);
}

/* ########### FOOTER ########## */
footer {
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer__container > div h4 {
    margin-bottom: 1.2rem;
}

.footer__1 p {
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}

/* ========== MEDIA QUERIES (TABLETS) ========== */
@media screen and (max-width: 1024px) {
    .about_milestone {
        margin-top: 2rem;
    }

    .about__milestone-container { 
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about_milestone-left {
        width: 80%;
        margin: 0 auto;
    }

    .team__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team__member {
        padding: 1rem;
    }

    .footer__container {
        grid-template-columns: 1fr 1fr;
    }
}

/* ========== MEDIA QUERIES (PHONES) ========== */
@media screen and (max-width: 600px) {
    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__member {
        padding: 0;
    }

    .team__member p {
        margin-bottom: 1.5rem;
    }

    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }
    
    .footer__1 p {
        margin: 1rem auto;
    }
    
    .footer__socials {
        justify-content: center;
    }
    
}
