.course-card {
    background: var(--color-bg);
    padding: 5.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.course-card:hover {
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}


.course-card:nth-child(2) .about__icon {
    background: var(--color-success);
}

.course-card:nth-child(3) .about__icon {
    background: var(--color-primary);
}

.course-card span {
    margin-top: 1rem;
}

#courses{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#2e3267;
}
.box
{
    position: relative;
    margin: 50px;
}
.box .text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.box .text h2
{
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 1px;
}
.box .text small
{
    font-size: 18px;
    display: block;
}

.circle
{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle .points
{
    width: 3px;
    height: 15px;
    background: #6c63ff;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-100px);
    
}



.points.marked
{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

@keyframes glow
{
    0%
    {
        background: #6c63ff;
        box-shadow: none;
    }
    100%
    {
        background: var(--bgColor);
        box-shadow: 0 0 10px var(--bgColor);
    }
}

#progress, #courses{
    display: flex;
    justify-content: end;
}